
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Beyond Welcomes You.</h2>
        <hr />
        <p>This is Beyond Industries' HR Portal system to view employee policies. HR representatives can add and delete policies here.</p>
        <br />
        <p class="text-danger">This system is currently in beta. If you find any bugs, please email the IT Department.</p>
    </div>
</div>