
@{
    ViewBag.Title = "CompletedApplication";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h2>Thank you!</h2>
        <hr />
        <p>Thank you for your application! We will be in touch if we believe you will be a good fit for our team.</p>
        </div>
</div>