
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Careers Home</h2>
        <hr />
        <p>Welcome to Beyond Industries! Click Careers to apply today and find yourself a place in our family!</p>
        <br />
        <p class="text-danger">Disclaimer: We are not actually a family.</p>
    </div>
</div>