
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Library Home</h1>
            <hr />
            <p>This is my personal library of DVD's, which I wouldn't actually need if I could trust my friends to actually give back my DVDs.. Which I can't.</p>
            <br />
            <p>Alas.. Here we are.</p>
        </div>
    </div>
</div>